.header-row{
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  font-style: italic;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
}
.row{
  margin: 0;
}
.arrow{
  padding: 2px 2px;
}
.invisible{
  visibility: hidden;
}
.sortAim{
  background-color: rgba(86,61,124,.15);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  z-index: 3;
}
.sticky + .header-row {
  padding-top: 60px;
}

.selected-row {
  background-color: #757575;
}
.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,0.5);
}
.hidden{
  width:10px;
}
